[submodule ".registry"]
	path = .registry
	url = https://github.com/hirujan-r/hirujan-r.r-universe.dev
	branch = HEAD
[submodule "trialdiff"]
	path = trialdiff
	url = https://github.com/Hirujan-R/trialdiff
	branch = v0.2.0
